<header>
  <h1>Bar Inventory</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/drinks">Drinks</a></li>
      <li><a href="/inventory">Inventory</a></li>
      {{#if logged_in}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
