<!DOCTYPE html>
<html>
<head>
  <title>Bar Inventory</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  {{> header}}
  <main>
    {{{body}}}
  </main>
  {{> footer}}
</body>
</html>