<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bar Inventory System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Wasgud</h1>
    <nav>
      <ul>
        <li><a href="/drinks">Drinks</a></li>
        <li><a href="/ingredients">Ingredients</a></li>
        <li><a href="/order">Order</a></li>
      </ul>
    </nav>
  </header>
  <main>
  </main>
</body>
</html>
