<!-- order.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Drinks</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/path/to/chart.min.js"></script>
  <script src="js/chart.js" defer></script> 
  <script src="js/order.js" defer></script>

</head>
<body>
  <h1>What drinks were ordered?</h1>
  <form id="orderForm">
    <div id="drinkOrders">
    </div>
    <button type="submit">Complete Order</button>
  </form>
</body>
</html>